asgiref==3.7.2
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
Django==3.2.23
django-environ==0.11.2
django-rest-framework==0.1.0
djangorestframework==3.14.0
idna==3.6
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
psycopg2-binary==2.9.9
pytz==2023.3.post1
requests==2.31.0
sentry-sdk==1.40.4
sqlparse==0.4.4
tabulate==0.9.0
tomli==2.0.1
urllib3==2.2.1
